<h2 id='headline'>Shop Thrift</h2>
<% @items.each do |i| %>

<div class='col-xs-12 col-sm-6 col-md-4 item'>
			
			<img src="../pics/products/CR<%= i.id.to_s.rjust(4, "0") %>.jpg">
			<div class='prod-info'>
			<p id='prod-name'><%= i.name %></p>
			<p id='prod-price'>$<%= i.price %></p>
			<a id='prod-buy' href="<%= i.id %>/buy">Buy</a>
			</div>

</div>
<% end %>